* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

body {
	margin: 0;
    font: initial !important;
	background-color: #ffffff;
}

/* GENERAL STUFF */
.center_align {
    text-align: center;
}

/* NAVBAR */
.navbar-nav > li > a, .navbar-brand {
    height: 22px;
}
.navbar {min-height:22px !important;}

#index_login {
    font-size: 18px;
    font-weight: bold;
}

/* INDEX */
#index_content {
    margin-top: 50px;
}

.index_panel {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.index_panelbody {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.index_panelleft {
    margin-right: 10px;
}

.index_panelright {
    margin-left: 10px;
}

.index_link, .index_link:hover {
    color: black;
    text-decoration: none;
}

/* FUNOBJEKT */
#funObjekt_details {
    margin-left: 40px;
}

#funObjekt_titel {
    font-size: 32px;
    font-weight: bold;
}

#funObjekt_ersteller {
    font-size: 20px;
}

#funObjekt_erstellDatum {
    font-size: 20px;
    margin-top: 20px;
}

#funObjekt_bewertung {
    font-size: 18px;
    margin-top: 20px;
}

#funObjekt_kommentarHeadline {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

#funObjekt_buttonBewerten {
    margin-top: 10px;
}

#funObjekt_buttonProfilbild {
    margin-top: 25px;
}

#funObjekt_buttonGruppenbild {
    margin-top: 5px;
}

.kommentar_trollName {
    font-weight: bold;
}

.kommentar_Head {
    font-size: 22px;
    margin-bottom: 5px;
}

.kommentar {
    margin-top: 20px;
}

/* LOGIN & REGISTRIEREN */
#login_headline, #register_headline, #gruppeErstellen_headline {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

#form_login, #form_register, .form {
    text-align: right;
}

#login_button, #register_button, .form_button {
    padding-top: 10px;
    font-size: 20px;
}