* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

body {
	margin: 0;
    font: initial !important;
	background-color: #FFFFCC;
}